@font-face {
    font-family: NexaBold;
    src: url(../Nexa-Font/Nexa\ Bold.otf);
  }
  
  h1
  {
      font-family:NexaBold !important;
      font-size: 34px;
      font-style: normal !important;
      font-weight: 700;
      color: #0D4B5F;
      
  }
  
  p
  {
      font-family:NexaBold !important;
      font-size: 20px;
      font-style: Bold !important;
      font-weight: 700;
      color: #000;    
  }
  
  span,a{
      font-family:NexaBold !important;
      font-size: 14px;
      font-style: Bold !important;
      font-weight: 700;
      color: #000;    
  }
  
  a{
    color:#0D4B5F;
  }
  .container
  {
    border: 2px #0D4B5F solid;
    border-radius: 6px;  
    margin-left: 20px;
    margin-right: 20px;  
    margin-top: 50% !important;
    
  }
  .alignCenter
  {
    text-align: center;
  }
  .margin-top
  {
    margin-top: 250px;
  }
  .button-native
  {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .form-container
  {
    padding-left:20px;
    padding-right: 20px;  
  }
  .align-flex
  {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  ion-textarea.custom-textarea {
      --background: #F3F6F7;
      width:85%;
      height:45px;
      --color: #000;
      --padding-end: 10px;
      --padding-start: 10px;
      --placeholder-color: #000;
      --placeholder-opacity: 0.8;
  }
  ion-img
  {
    width: 75%;
    height:auto;
    margin-left: auto;
    margin-right: auto;
    
  }
  
  
  ion-checkbox {
      --size: 24px;
      --background-checked: #0D4B5F;
    }
    
    ion-checkbox::part(container) {
      border-radius: 4px;
      --background: #F3F6F7;
      border: 0px;
  
    }
  
  ion-label,ion-textarea
  {
    font-family:NexaBold !important;
    font-size: 14px;
    font-style: Bold !important;
    font-weight: 700;
    color: #000;    
  }
  
  ion-button
  {
    color:#fff;
    background-color: #0D4B5F;
    height:auto;
    width: auto;
    padding:10px 20px 10px 20px;
    border-radius: 6px;
    font-family: NexaBold;
    font-size: 20px;
    box-shadow: none;
  }
  ion-textarea
  {
    width:100% !important;
  }
  ion-header
  {
    background-color: #F3F6F7;
    height:60px;
    width: 100%;
    box-shadow: none;
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
  }
  .footer
  {
      display:block;
      background-color: #0D4B5F;
      height:60px;
      width: 100%;
  }